@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
:root {
    --color: #243746;
    --color-primary: #158876;
    --color-secondary: #0e2233;
    --bg: #f3f5f4;
    --bg-secondary: #fff;
    --border-color: #ddd;
  }
  
  .dark-mode {
    --color: #ebf4f1;
    --color-primary: #41b38a;
    --color-secondary: #fdf9f3;
    --bg: #091a28;
    --bg-secondary: #071521;
    --border-color: #0d2538;
  }
  .sepia-mode {
    --color: #433422;
    --color-secondary: #504231;
    --bg: #f1e7d0;
    --bg-secondary: #eae0c9;
    --border-color: #ded0bf;
  }
  
  body {
    /* font-family: 'Source Code Pro', monospace;
     */
    font-family: 'Nunito', sans-serif !important;

    background-color: var(--bg);
    color: var(--color);
    transition: background-color .3s;
  }
  a {
    color: var(--color-primary)
  }
  .v-application{
    /* font-family: 'Source Code Pro', monospace !important; */
    font-family: 'Nunito', sans-serif !important;

  }